
body {
    font-family: 'Montserrat', sans-serif;
}

.a-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.a-link_nav {
    color: #1111117a;
    padding-bottom: 30px;
}

.a-link_nav:hover {
    box-shadow: inset 0px -2px 0px #1111117A;
}

.a-link_action {
    color: #01A7FD;
}

.a-link_action:hover {
    box-shadow: inset 0px -2px 0px #01A7FD;
}

.router-link-active {
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    box-shadow: inset 0px -2px 0px #01A7FD !important;
}

.a-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #111111;
}

.a-text-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #111111;
}

.a-text-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #111111;
}

.a-label {
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #1111117a;
}

.a-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 100px;
    background-color: #FFFFFF;
    border: 2px solid #01A7FD;
    transition: all 0.2s ease-in-out;
    outline: none;
    cursor: pointer;
}

.a-button_secondary {
    color: #01A7FD;
}

.a-button_secondary:hover {
    background-color: #6E41E20A;
}

.a-button_primary {
    border: none;
    color: #FFFFFF;
    background-color: #01A7FD;
}

.a-button_primary:hover {
    background-color: #2AB5FD;
}

.a-badges {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F1F1F1;
}

.a-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.a-mr-5 {
    margin-right: 5px;
}

.a-mr-18 {
    margin-right: 18px;
}

.a-mt-30 {
    margin-top: 30px;
}

.a-mb-10 {
    margin-bottom: 10px;
}

.a-mb-20 {
    margin-bottom: 20px;
}

.a-mb-60 {
    margin-bottom: 60px;
}

.a-mb-100 {
    margin-bottom: 100px;
}

.container {
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 76px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 0px #1111111A;
}

.header__cover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.header__logo {
    position: absolute;
    left: 0;
    padding: 0 41px;
}

.header__nav > a:first-child {
    margin-right: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 76px;
    margin-top: 20px;
    background-color: #F2F2F2;
    box-shadow: 0px 1px 0px #1111111A;
}

.footer__content {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
}

.main {
    width: 100%;
    max-width: 616px;
    margin: 0 auto;
}

.forms__item {
    margin-bottom: 33px;
}

.forms__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.forms__row {
    display: flex;
    align-items: center;
}

.input__field {
    padding: 8px 16px 6px;
    border-radius: 4px;
    border: 1px solid #F1F1F1;
    transition: all 0.2s ease-in-out;
}

.input__field_short {
    width: 260px;
}

.input__field:hover {
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 10px rgba(51, 51, 51, 0.16);
}

.hidden {
    visibility: hidden;
    transition: visibility 1ms ease-in-out;
}