<template>
  <div class="forms">
    <form autocomplete="off" @submit.prevent="onSubmit" class="forms_cover">
      <div class="forms__item personal-data">
        <!-- Секция персональных данных -->
        <p class="a-heading a-mb-20">Персональные данные</p>
        <div class="input__field a-mb-10">
          <label class="a-label" for="personalName">Имя</label>
          <input class="a-input a-text-regular" type="text" name="personalName" pattern="[A-Za-zА-Яа-яЁё]+" title="Пожалуйста, введите только буквы" required />
        </div>
        <div class="input__field a-mb-10">
          <label class="a-label" for="personalSurname">Фамилия</label>
          <input class="a-input a-text-regular" type="text" name="personalSurname" pattern="[A-Za-zА-Яа-яЁё]+" title="Пожалуйста, введите только буквы" required />
        </div>
        <div class="input__field a-mb-10">
          <label class="a-label" for="personalPatronymic">Отчество</label>
          <input class="a-input a-text-regular" type="text" name="personalPatronymic" pattern="[A-Za-zА-Яа-яЁё]+" title="Пожалуйста, введите только буквы" required />
        </div>
        <div class="input__field">
          <label class="a-label" for="personalAge">Возраст</label>
          <input class="a-input a-text-regular" type="number" name="personalAge" min="1" max="99" />
        </div>
      </div>
      <div class="forms__item children-data">
        <!-- Секция данных о детях -->
        <div class="forms__header a-mb-10">
          <p class="a-heading">Дети (макс. 5)</p>
          <button @click="addField" v-bind:class="{ hidden: count > 4 }" type="button" class="a-button a-button_secondary">
            <img class="a-mr-5" />
            <span>Добавить ребенка</span>
          </button>
        </div>
        <component v-for="field in fields" v-bind:id="field.id" :is="field.component" :key="field.id" @remove-field="removeField"></component>
        <button type="submit" class="a-button a-button_primary a-mt-30 a-mb-100">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import FormChildFields from "@/components/FormChildFields";
export default {
  data() {
    return {
      fields: [], // Массив для хранения полей ввода для детей
      count: 0, // Счетчик количества полей ввода для детей
    };
  },
  components: {
    FormChildFields,
  },
  methods: {
    // Метод для добавления поля ввода для ребенка
    addField() {
      this.count++;
      this.fields.push({
        id: this.count,
        component: "FormChildFields",
      });
    },
    // Метод для удаления поля ввода для ребенка
    removeField(id) {
      this.fields = this.fields.filter((field) => field.id !== id);
      this.count--;
    },
    // Метод для обработки отправки формы
    onSubmit() {
      const ageInput = document.querySelector('input[name="personalAge"]');
      const age = ageInput.value;
      if (age < 1 || age > 99) {
        alert('Пожалуйста, введите возраст от 1 до 99');
        return;
      }
      const nameInput = document.querySelector('input[name="personalName"]');
      const surnameInput = document.querySelector('input[name="personalSurname"]');
      const patronymicInput = document.querySelector('input[name="personalPatronymic"]');
      const name = nameInput.value.trim();
      const surname = surnameInput.value.trim();
      const patronymic = patronymicInput.value.trim();
      if (!name.match(/^[A-Za-zА-Яа-яЁё]+$/)) {
        alert('Пожалуйста, введите только буквы в поле имени');
        nameInput.value = '';
        return;
      }
      if (!surname.match(/^[A-Za-zА-Яа-яЁё]+$/)) {
        alert('Пожалуйста, введите только буквы в поле фамилии');
        surnameInput.value = '';
        return;
      }
      if (!patronymic.match(/^[A-Za-zА-Яа-яЁё]+$/)) {
        alert('Пожалуйста, введите только буквы в поле отчества');
        patronymicInput.value = '';
        return;
      }
      const data = {
        name: name,
        surname: surname,
        patronymic: patronymic,
        age: age,
        children: [],
      };
      const fields = document.querySelectorAll(".children");
      if (fields.length) {
        for (const field of fields) {
          data.children.push({
            name: field.querySelector('input[name="childName"]').value,
            age: field.querySelector('input[name="childAge"]').value,
          });
        }
      }
      const sendData = JSON.stringify(data);
      this.$router.push({
        name: "PreviewVue",
        params: {
          data: sendData,
        },
      });
    },
  },
};
</script>