<template>
  <!-- Если нет данных для предварительного просмотра -->
  <div v-if="!personal.name && !personal.age && !personal.surname && !personal.patronymic" class="message a-text-regular a-mb-20">
    <p>
      Нет данных для предварительного просмотра.
      Перейдите на страницу <router-link to="/" class="a-link a-link_action">Форма</router-link> и введите данные.
    </p>
  </div>
  <div v-else>
    <!-- Предварительный просмотр персональных данных -->
    <div class="preview-item preview-personal a-mb-60">
      <p class="a-heading a-mb-20">Персональные данные</p>
      <p class="a-text-bold">{{ getPersonalInfo }}</p>
    </div>
    <div v-if="children.length > 0" class="preview-item preview-children">
      <!-- Предварительный просмотр детей -->
      <p class="a-heading a-mb-20">Дети</p>
      <ChildBadges v-for="(child, index) in children" :key="index" :child="formatChildName(child)"></ChildBadges>
    </div>
    <div v-else class="message a-text-regular a-mb-20">
      <p>Не имеет детей</p>
    </div>
  </div>
</template>

<script>
import ChildBadges from '@/components/ChildBadges'

export default {
  data() {
    return {
      personal: {
        name: '',
        surname: '',
        age: '',
        patronymic: ''
      },
      children: []
    }
  },
  
  created() {
    // Следим за изменениями параметров маршрута
    this.$watch(
      () => this.$route.params,
      () => this.fetchData(),
      { immediate: true }
    )
  },
  
  computed: {
    // Получаем информацию о персональных данных
    getPersonalInfo() {
      return `${this.formattedSurname} ${this.formattedName} ${this.formattedPatronymic}, ${this.personal.age} лет`
    },
    
    // Получаем отформатированное имя с первой буквой в верхнем регистре
    formattedName() {
      return this.capitalizeFirstLetter(this.personal.name)
    },
    
    // Получаем отформатированную фамилию с первой буквой в верхнем регистре
    formattedSurname() {
      return this.capitalizeFirstLetter(this.personal.surname)
    },
    
    // Получаем отформатированное отчество с первой буквой в верхнем регистре
    formattedPatronymic() {
      return this.capitalizeFirstLetter(this.personal.patronymic)
    }
  },
  
  methods: {
    // Получаем данные
    fetchData() {
      this.personal.name = this.personal.age = this.personal.surname = this.personal.patronymic = ''
      this.children = []
      if (this.$route.params.data) {
        const data = JSON.parse(this.$route.params.data)
        this.getData(data)
      }
    },
    
    // Обновляем данные
    getData(params) {
      this.personal.name = params.name
      this.personal.age = params.age
      this.personal.surname = params.surname
      this.personal.patronymic = params.patronymic
      this.children = params.children
    },
    
    // Первая буква в верхнем регистре
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase()
    },
    
    // Форматирование имени ребенка
    formatChildName(child) {
      return {
        ...child,
        name: this.capitalizeFirstLetter(child.name)
      }
    }
  },
  
  components: {
    ChildBadges
  }
}
</script>