<template>
    <div class="container">
        <div class="header">
            <div class="header__cover">
                <div class="header__nav">
                    <router-link class="a-link a-link_nav" to="/">Форма</router-link>
                    <router-link class="a-link a-link_nav" to="/preview">Превью</router-link>
                </div>
            </div>
        </div>
        <div class="main">
            <router-view></router-view>
        </div>
    </div>
</template>